<header>
  <img src='img/angular.svg' />
  <h1>{{ title }}</h1>
</header>

<main>
  <section class="todo-list">
    <div class="todo-item">
      <button class="checkbox icon">
        <i class="material-icon">check_box_outline_blank</i>
      </button>
      <span class="title">Izuchit Angular 2</span>
      <div class="actions">
        <button class="delete icon">
          <i class="material-icon">delete</i>
        </button>
      </div>
    </div>


    <!-- Test -->

    <div class="todo-item">
        <button class="checkbox icon">
          <i class="material-icon">check_box_outline_blank</i>
        </button>
        <span class="title">Napisat prilozhenije</span>
        <div class="actions">
          <button class="delete icon">
            <i class="material-icon">delete</i>
          </button>
        </div>
      </div>
  </section>
</main>